BOT_TOKEN=changethis
DEBUG=False
LOGGING_LEVEL=20

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=postgres

REDIS_PASSWORD=redis
REDIS_HOST=localhost
REDIS_PORT=6380
REDIS_DB=0

GA4_MEASUREMENT_ID=changethis
GA4_API_SECRET=changethis
