services:
  postgres:
    image: postgres:17-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    restart: always
  redis:
    image: redis:7-alpine
    volumes:
      - redis_data:/data
    env_file:
      - .env
    command: ["redis-server", "--appendonly", "yes", "--requirepass", "${REDIS_PASSWORD}", "--port", "6379"]
    ports:
      - "${REDIS_PORT:-6379}:6379"
    restart: always
  bot:
    build:
      context: .
      dockerfile: ./Dockerfile
    depends_on:
      - postgres
      - redis
    env_file:
      - .env
    restart: always

volumes:
  postgres_data:
  redis_data:
